html {
  font: normal 100%/1.5 Georgia;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  background-color: #ffe500;
  color: #cc1465;
  font-family: "Sigmar One";
  font-size: 3em;
  margin: 0;
  padding: 0 .75em;
  text-align: center;
}

.nav {
  list-style-type: none;
  padding: 0;
  background-color: #ffe500;
  margin: 0;
  text-align: center;
}

.nav li {
  display: inline-block;
}

.nav a {
  background-color: #b2a212;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  padding: .5em .75em;
}

.nav a:hover {
  background-color: #b20953;
}

.nav ul .current {
  background-color: #b2a212;
}

.nav ul .current:hover {
  background-color: #b20953;
}

h2 {
  color: #cc1465;
  font-family: "Sigmar One";
  text-align: left;
}

footer {
  background-color: #ffe500;
  color: #000;
  padding: .75em;
  text-align: center;
}

img {
  display: block;
  width: 450px;
  margin: .3em;
}

.fruits {
  font-size: 2em;
}

body {
  margin: 0;
}

.content {
  color: #2f2d13;
}
